<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ControladorUs</servlet-name>
        <servlet-class>Controlador.ControladorUs</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClienteControlador</servlet-name>
        <servlet-class>Controlador.ClienteControlador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdministradorControlador</servlet-name>
        <servlet-class>Controlador.AdministradorControlador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GuardarEmp</servlet-name>
        <servlet-class>Controlador.GuardarEmp</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ControladorUs</servlet-name>
        <url-pattern>/ControladorUs</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClienteControlador</servlet-name>
        <url-pattern>/ClienteControlador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdministradorControlador</servlet-name>
        <url-pattern>/AdministradorControlador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GuardarEmp</servlet-name>
        <url-pattern>/GuardarEmp</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
