/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 11/08/2020, 08:58:54 PM
    Author     : E F E
*/

body{
    
    background-image: url("../Imagenes/FondoP.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    
}